In [4]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn import preprocessing
from sklearn.model_selection import cross_val_score

Read all dataset

In [5]:
train_set = pd.read_csv('train.csv')
test_set = pd.read_csv('test.csv')

Describe data

In [7]:
train_set.describe()
train_set[:2]

,item_id,user_id,region,city,parent_category_name,category_name,param_1,param_2,param_3,title,description,price,item_seq_number,activation_date,user_type,image,image_top_1,deal_probability
0,b912c3c6a6ad,e00f8ff2eaf9,Свердловская область,Екатеринбург,Личные вещи,Товары для детей и игрушки,Постельные принадлежности,NaN,NaN,Кокоби(кокон для сна),"Кокон для сна малыша,пользовались меньше месяц...",400.0,2,2017-03-28,Private,d10c7e016e03247a3bf2d13348fe959fe6f436c1caf64c...,1008.0,0.12789
1,2dac0150717d,39aeb48f0017,Самарская область,Самара,Для дома и дачи,Мебель и интерьер,Другое,NaN,NaN,Стойка для Одежды,"Стойка для одежды, под вешалки. С бутика.",3000.0,19,2017-03-26,Private,79c9392cc51a9c81c6eb91eceb8e552171db39d7142700...,692.0,0.00000

In [26]:
train_set['user_id'].describe()
train_set['user_id'].unique()

array(['e00f8ff2eaf9', '39aeb48f0017', '91e2f88dd6e3', ...,
       'dd05217165ea', 'dc23ef451c8a', 'f3342ccd95c8'], dtype=object)

In [14]:
np.sum(train_set['user_id'] == '45ba3f23bf25')

1080

In [25]:
train_set['region'].describe()
train_set['region'].unique()

array(['Свердловская область', 'Самарская область', 'Ростовская область',
       'Татарстан', 'Волгоградская область', 'Нижегородская область',
       'Пермский край', 'Оренбургская область', 'Ханты-Мансийский АО',
       'Тюменская область', 'Башкортостан', 'Краснодарский край',
       'Новосибирская область', 'Омская область', 'Белгородская область',
       'Челябинская область', 'Воронежская область',
       'Кемеровская область', 'Саратовская область',
       'Владимирская область', 'Калининградская область',
       'Красноярский край', 'Ярославская область', 'Удмуртия',
       'Алтайский край', 'Иркутская область', 'Ставропольский край',
       'Тульская область'], dtype=object)

In [17]:
train_set[['parent_category_name', 'category_name']].describe()

       parent_category_name              category_name
count               1503424                    1503424
unique                    9                         47
top             Личные вещи  Одежда, обувь, аксессуары
freq                 697623                     282753

In [23]:
train_set['parent_category_name'].value_counts()
train_set['parent_category_name'].unique()

array(['Личные вещи', 'Для дома и дачи', 'Бытовая электроника',
       'Транспорт', 'Недвижимость', 'Животные', 'Хобби и отдых', 'Услуги',
       'Для бизнеса'], dtype=object)

In [24]:
train_set['category_name'].value_counts()
train_set['category_name'].unique()

array(['Товары для детей и игрушки', 'Мебель и интерьер', 'Аудио и видео',
       'Автомобили', 'Ремонт и строительство',
       'Одежда, обувь, аксессуары', 'Детская одежда и обувь', 'Квартиры',
       'Товары для компьютера', 'Собаки', 'Дома, дачи, коттеджи',
       'Товары для животных', 'Другие животные', 'Комнаты',
       'Коллекционирование', 'Коммерческая недвижимость',
       'Посуда и товары для кухни', 'Красота и здоровье', 'Аквариум',
       'Телефоны', 'Часы и украшения', 'Предложение услуг', 'Птицы',
       'Спорт и отдых', 'Музыкальные инструменты', 'Бытовая техника',
       'Игры, приставки и программы', 'Земельные участки',
       'Продукты питания', 'Кошки', 'Билеты и путешествия',
       'Книги и журналы', 'Растения', 'Гаражи и машиноместа',
       'Мотоциклы и мототехника', 'Планшеты и электронные книги',
       'Оборудование для бизнеса', 'Настольные компьютеры', 'Ноутбуки',
       'Велосипеды', 'Грузовики и спецтехника', 'Готовый бизнес',
       'Фототехника', 'Водный транспорт', 'Охота и рыбалка',
       'Оргтехника и расходники', 'Недвижимость за рубежом'], dtype=object)

In [16]:
train_set

,item_id,user_id,region,city,parent_category_name,category_name,param_1,param_2,param_3,title,description,price,item_seq_number,activation_date,user_type,image,image_top_1,deal_probability
0,b912c3c6a6ad,e00f8ff2eaf9,Свердловская область,Екатеринбург,Личные вещи,Товары для детей и игрушки,Постельные принадлежности,NaN,NaN,Кокоби(кокон для сна),"Кокон для сна малыша,пользовались меньше месяц...",400.0,2,2017-03-28,Private,d10c7e016e03247a3bf2d13348fe959fe6f436c1caf64c...,1008.0,0.12789
1,2dac0150717d,39aeb48f0017,Самарская область,Самара,Для дома и дачи,Мебель и интерьер,Другое,NaN,NaN,Стойка для Одежды,"Стойка для одежды, под вешалки. С бутика.",3000.0,19,2017-03-26,Private,79c9392cc51a9c81c6eb91eceb8e552171db39d7142700...,692.0,0.00000
2,ba83aefab5dc,91e2f88dd6e3,Ростовская область,Ростов-на-Дону,Бытовая электроника,Аудио и видео,"Видео, DVD и Blu-ray плееры",NaN,NaN,Philips bluray,"В хорошем состоянии, домашний кинотеатр с blu ...",4000.0,9,2017-03-20,Private,b7f250ee3f39e1fedd77c141f273703f4a9be59db4b48a...,3032.0,0.43177
3,02996f1dd2ea,bf5cccea572d,Татарстан,Набережные Челны,Личные вещи,Товары для детей и игрушки,Автомобильные кресла,NaN,NaN,Автокресло,Продам кресло от0-25кг,2200.0,286,2017-03-25,Company,e6ef97e0725637ea84e3d203e82dadb43ed3cc0a1c8413...,796.0,0.80323
4,7c90be56d2ab,ef50846afc0b,Волгоградская область,Волгоград,Транспорт,Автомобили,С пробегом,ВАЗ (LADA),2110,"ВАЗ 2110, 2003",Все вопросы по телефону.,40000.0,3,2017-03-16,Private,54a687a3a0fc1d68aed99bdaaf551c5c70b761b16fd0a2...,2264.0,0.20797
5,51e0962387f7,bbfad0b1ad0a,Татарстан,Чистополь,Личные вещи,Товары для детей и игрушки,Автомобильные кресла,NaN,NaN,Авто люлька,В хорошем состоянии,1300.0,9,2017-03-28,Private,eb6ad1231c59d3dc7e4020e724ffe8e4d302023ddcbb99...,796.0,0.80323
6,c4f260a2b48a,08f469d2e6f7,Нижегородская область,Нижний Новгород,Для дома и дачи,Ремонт и строительство,Сантехника и сауна,NaN,NaN,Водонагреватель 100 литров нержавейка плоский,Электро водонагреватель накопительный на 100 л...,11000.0,125,2017-03-23,Private,0330f6ac561f5db1fa8226dd5e7e127b5671d44d075a98...,2823.0,0.00000
7,6b71309d6a8a,fef86baa002c,Пермский край,Пермь,Личные вещи,"Одежда, обувь, аксессуары",Женская одежда,Джинсы,26,Бойфренды colins,Бойфренды в хорошем состоянии.,500.0,61,2017-03-25,Private,9bab29a519e81c14f4582024adfebd4f11a4ac71d323a6...,567.0,0.80323
8,c5b969cb63a2,055825270190,Оренбургская область,Оренбург,Личные вещи,"Одежда, обувь, аксессуары",Женская одежда,Платья и юбки,> 50 (XXL),Платье,54 раз мер очень удобное,500.0,85,2017-03-17,Private,75ce06d1f939a31dfb2af8ac55f08fa998fa336d13ee05...,415.0,0.00000
9,b1570962e68c,f9e8f831d94c,Нижегородская область,Нижний Новгород,Личные вещи,Детская одежда и обувь,Для девочек,Обувь,25,Полу ботиночки замш натур.Бамбини,По стельке 15.5см мерить приокский район. Цвет...,400.0,136,2017-03-22,Company,54fb8521135fda77a860bfd2fac6bf46867ab7c06796e3...,46.0,0.00000
10,d5480bb4a6e4,d46200940f37,Ханты-Мансийский АО,Ханты-Мансийск,Недвижимость,Квартиры,Сдам,На длительный срок,1,"1-к квартира, 25 м², 2/2 эт.",Сдается однокомнатная мебелированная квартира ...,18000.0,6,2017-03-25,Private,645d3fb949cb116a00c596ca1e168d8c5ddd21cdeacc5a...,1396.0,0.58853
11,86f41f50d8c1,35c2b6b654e0,Тюменская область,Заводоуковск,Личные вещи,"Одежда, обувь, аксессуары",Женская одежда,Джинсы,Без размера,Джинсы,NaN,1.0,4,2017-03-19,Shop,5162fdb7d8427738370d3145647d2726546f65631e5de9...,119.0,0.00000
12,645237cb3601,fc9a38b79414,Оренбургская область,Оренбург,Личные вещи,Товары для детей и игрушки,Товары для школы,NaN,NaN,Атласы и Контурныя карты за 8 класс,"Атлас история нового времени,19 век./\nКонтурн...",70.0,15,2017-03-21,Private,5ba63fecb66633cde074c661e0249e26af5cf370241e13...,1040.0,0.13858
13,df2116f34563,3ce3c2318b16,Ростовская область,Ростов-на-Дону,Бытовая электроника,Товары для компьютера,Мониторы,NaN,NaN,Монитор acer 18.5,Продам манитор 18.5 v193HQV. В хорошем состоянии,2500.0,47,2017-03-22,Private,0c84cef077d10e5bb37af78049fb0a593c9f1c7f37f458...,2849.0,0.00000
14,a97943ae8158,f643d87dd23c,Башкортостан,Туймазы,Животные,Собаки,Немецкая овчарка,NaN,NaN,Продаются щенки немецкой овчарки,"родились 1 февраля,три кобеля и сучка.",5000.0,6,2017-03-23,Private,09ebf4b30bad5857a1f26cd18d907c1e888bbe718bb13d...,2133.0,0.00000
15,4b6abd0a5921,94de2b374869,Татарстан,Казань,Личные вещи,"Одежда, обувь, аксессуары",Женская одежда,Платья и юбки,42–44 (S),Платье женское новое,Одето 1 раз на пару часов. Длина 79. Можно кор...,800.0,86,2017-03-27,Private,df76951e5cc7073553ea3214fd2024b9f80166828a5356...,408.0,0.00000
16,7896ef8fe482,007c6bd858cb,Краснодарский край,Краснодар,Транспорт,Автомобили,С пробегом,Chevrolet,Lanos,"Chevrolet Lanos, 2008","Кондиционер, гидроусилитель руля, электрически...",140000.0,201,2017-03-18,Company,5244375e00cb2baefa50f4b01156cc492f8733b93c6cba...,1118.0,0.32100
17,7882b1e77748,7a3fda0cdf94,Новосибирская область,Новосибирск,Личные вещи,Товары для детей и игрушки,Игрушки,NaN,NaN,Объемная цифра 2,"Размеры 75*53*15. Основа-картон, декор-гофриро...",500.0,9,2017-03-20,Private,0cdd241246bd930c0026315484d87817c47ce4d586d99b...,983.0,0.00000
18,071e1ed13c5c,325cacee50f4,Омская область,Москаленки,Личные вещи,"Одежда, обувь, аксессуары",Женская одежда,Верхняя одежда,44–46 (M),Куртка весенняя(осенняя),"Куртка новая, очень удобная, ценник был утерян...",1000.0,4,2017-03-24,Private,1a60aa7ac1bab4fac1171650369e19d2e6872483d89032...,95.0,0.00000
19,0658628930d4,27c2d83b766e,Белгородская область,Белгород,Недвижимость,"Дома, дачи, коттеджи",Сниму,Коттедж,На длительный срок,Сниму коттедж,Семейная пара из двух человек снимет коттедж с...,100000.0,5,2017-03-28,Private,NaN,NaN,0.10342
20,ea12aec32ec3,06ee4ff4e99c,Новосибирская область,Бердск,Недвижимость,Квартиры,Продам,2,Вторичка,"2-к квартира, 44 м², 5/5 эт.",Дом находиться внутри квартала./\nПластиковые ...,1748000.0,461,2017-03-17,Company,e9fb67b3d22cbf7cf569337780aea8a5c1ddac8b4b6b74...,2011.0,0.00000
21,838a82cec0a6,5d44315f6d90,Свердловская область,Екатеринбург,Личные вещи,"Одежда, обувь, аксессуары",Женская одежда,Верхняя одежда,> 50 (XXL),Шапка норковая,"Продам шапку, норка, цвет коричневый, в отличн...",2600.0,33,2017-03-16,Private,NaN,NaN,0.00000
22,de310e6aae86,0178e6308f38,Челябинская область,Магнитогорск,Транспорт,Автомобили,С пробегом,Ford,Focus,"Ford Focus, 2005",Полная комплектация. ГУР. 4 эсп. Подогрев сид...,249000.0,12,2017-03-20,Private,1c873f41cea87bc32f52d0a99cf5ff6a33305f0542b7f7...,2264.0,0.10334
23,08b24e170109,6630d724bbf5,Ростовская область,Ростов-на-Дону,Личные вещи,Детская одежда и обувь,Для девочек,Обувь,25,Туфли moschino,"Очень красивые стильные туфельки, состояние от...",1300.0,59,2017-03-20,Private,6edfface637bd8f85e5614b57a840cb7ec168aed081ba4...,87.0,0.00000
24,065a4daba35f,19a5cd02c89b,Нижегородская область,Нижний Новгород,Животные,Товары для животных,NaN,NaN,NaN,Таблетки бравекто,"Таблетки ""Бравекто"" от блох и клещей по ценам:...",NaN,310,2017-03-16,Company,22babf609cfcbca6b1d5ca81321fd6f58e873903c8fc0a...,843.0,0.00000
25,990113ae4f1c,d9b494f97062,Воронежская область,Воронеж,Личные вещи,Товары для детей и игрушки,Игрушки,NaN,NaN,Пинки Пай My Little Pony,Пинки Пай ждёт любящую хозяйку./\nВ комплекте ...,1500.0,309,2017-03-24,Company,a8f76b8abea964400c4075cedaea9f7a0c970b5a5f2f8e...,957.0,0.10796
26,78164bc09657,721c2f914f63,Самарская область,Тольятти,Для дома и дачи,Мебель и интерьер,Текстиль и ковры,NaN,NaN,Ламбрикен,"Продам ламбрикен в хорошем состоянии,длина 2,20.",1000.0,59,2017-03-26,Private,b3c27bf75ffb0dad53a1f4a04fc8c335040468879b1365...,1420.0,0.00000
27,fbe29970a8a5,2f0e2746d462,Кемеровская область,Новокузнецк,Личные вещи,"Одежда, обувь, аксессуары",Женская одежда,Обувь,37,Ботинки,Ботинки б/у в хорошем состоянии. Размер 37,1500.0,8,2017-03-27,Private,1d0cc04d7e20f696fbdc181dd3ab9ea964b57b46a981c9...,436.0,0.00000
28,71d9399b59a2,965ee1e259eb,Саратовская область,Саратов,Личные вещи,"Одежда, обувь, аксессуары",Женская одежда,Платья и юбки,46–48 (L),Продаю новое платье,"Новое, очень нарядное платье, Рост 170 см, раз...",1000.0,12,2017-03-25,Private,c4f1d5ccdbda96f2a4718f997318813c84de9e057d3528...,618.0,0.00000
29,4941f0385575,d283308a713b,Нижегородская область,Нижний Новгород,Личные вещи,Детская одежда и обувь,Для мальчиков,Другое,NaN,Песочник Crockid,"Состояние хорошее, носили мало.",200.0,20,2017-03-19,Private,659081173b0a320fae12fe7f8f7bbf9e361444cfcf5ff8...,63.0,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1503394,c346749a7127,6df435165550,Ростовская область,Ростов-на-Дону,Для дома и дачи,Мебель и интерьер,Шкафы и комоды,NaN,NaN,Офисная мебель,"В связи с оптимизацией помещений, продаю офисн...",2000.0,5,2017-03-16,Private,42a0eeeed54478f2fb8d7cbf9b8ed2a53ed39eb7c2bb32...,1460.0,0.33720
1503395,3c073bb117d8,f3db5b0b12a1,Иркутская область,Братск,Транспорт,Мотоциклы и мототехника,Вездеходы,NaN,NaN,Продам болотоход юпитер 3,продам болотоход юпитер 3,20000.0,41,2017-03-28,Company,9765edf15ac427120c1359e3d4dd813a475cc4f4b94701...,1142.0,0.00000
1503396,6fcc0d49b22d,cd553840f1a2,Тульская область,Кимовск,Хобби и отдых,Музыкальные инструменты,Пианино и другие клавишные,NaN,NaN,Пианино Аккорд,Находится в Кимовске. Самовывоз,NaN,32,2017-03-21,Private,17558d450f7de115acc61ec7bc08073443e14753940d8a...,2514.0,0.00000
1503397,f7cb51309717,a96bf12eaaba,Ярославская область,Ярославль,Личные вещи,"Одежда, обувь, аксессуары",Женская одежда,Верхняя одежда,44–46 (M),Жакет,"Стильный жакет. Можно и для беременной, можно ...",450.0,36,2017-03-20,Private,756323281a7579f2bd1c8fc66182f13c0c5d9817424bbb...,569.0,0.00000
1503398,cb74d5fa1498,141a6ebb6456,Красноярский край,Красноярск,Личные вещи,"Одежда, обувь, аксессуары",Женская одежда,Верхняя одежда,44–46 (M),Пальто демисезонное,"пальто,фирмы ""Белла"", размер 46, цвет ""фуксия...",500.0,8,2017-03-18,Private,224a4b70e48a6ce3acdc8cebe3d8df7e1740472954a766...,523.0,0.00000
1503399,55760672b23e,085e58413b19,Волгоградская область,Волгоград,Хобби и отдых,Книги и журналы,Книги,NaN,NaN,"Серия книг ""Бессмертные "" все сразу",Цена за все книги оптом,300.0,2,2017-03-26,Private,4e711d8c72b89b011d30df969aeca7599646f3912fb5a6...,2286.0,0.00000
1503400,15dc060224ab,13d487ead5a2,Воронежская область,Новая Усмань,Бытовая электроника,Товары для компьютера,Комплектующие,Оперативная память,NaN,Оперативная память,NaN,400.0,12,2017-03-20,Private,f3ccc832ed847c606080e4d26456d5bdefd601e8703e85...,2853.0,0.00000
1503401,87cb486a418d,bd8cd55a533a,Ханты-Мансийский АО,Нефтеюганск,Личные вещи,Детская одежда и обувь,Для девочек,Брюки,98-104 см (2-4 года),Джинсы для девочек,Состояние хорошее. Демисезонные,250.0,6,2017-03-26,Private,b75fc36c2432cc50b11ba789e360e60a8929b2b9daf1c5...,118.0,0.14989
1503402,5e317564107b,7d2bc0de4caa,Самарская область,Самара,Транспорт,Автомобили,С пробегом,BMW,3 серия,"BMW 3 серия, 2009","Продаю bmw 3 серии в прекрасном состоянии, пра...",720000.0,61,2017-03-20,Private,709729b67a3dafba282b5299ab76cf95ec97abd35eec55...,1118.0,0.23044
1503403,d630ca83fc9e,ad73bbe882db,Нижегородская область,Нижний Новгород,Личные вещи,Детская одежда и обувь,Для девочек,Обувь,< 19,Сандалии Таши Орто,"Продам сандалии б/у,размер 18 на первые шаги,п...",500.0,23,2017-03-20,Private,9719775bb3aa3f87be91caf3545efbd262a3d02b89ac4e...,93.0,0.00000
1503404,732b69fced92,94a9c852a234,Самарская область,Самара,Транспорт,Автомобили,С пробегом,Mercedes-Benz,M-класс,"Mercedes-Benz M-класс, 2008","В отличном состоянии, вложений не требует, 100...",1300000.0,1,2017-03-28,Private,4d3f4f83f0c065f26ec64fac298936e3a4b0b505402fb0...,1055.0,0.01232
1503405,fc8ff7c77732,049099972988,Калининградская область,Калининград,Личные вещи,Товары для детей и игрушки,Детская мебель,NaN,NaN,Продается шезлонг фирмы Чико,Продается детский шезлонг +0 до 9 кг. В отличн...,3000.0,39,2017-03-26,Private,c5774df8edc744e41c174a3e7987d93359c71e10937aef...,821.0,0.00000
1503406,bb532fcc7dec,391e0fa1bb2d,Краснодарский край,Холмская,Для дома и дачи,Ремонт и строительство,Садовая техника,NaN,NaN,Садовая тачка,В отличном состоянии /\nзабирать в холмской центр,3000.0,259,2017-03-16,Private,38eb5445db2433f192d0d7383761177e71aaf56f206351...,1348.0,0.86521
1503407,ff2a88b765c6,152a1d5e6178,Свердловская область,Екатеринбург,Личные вещи,Детская одежда и обувь,Для мальчиков,Верхняя одежда,86-92 см (1-2 года),Лёгкая куртка размер 92,Двусторонняя!,300.0,33,2017-03-19,Private,e0fef616352e4834f1a2023d8884582b8ed460b2745c3b...,53.0,0.00000
1503408,d23a9e2a65e1,02652bf7abdd,Саратовская область,Саратов,Недвижимость,Коммерческая недвижимость,Продам,Офисное помещение,NaN,Нежилое помещение,Продается 4 офисных помещения площадью от 106 ...,1600000.0,24,2017-03-20,Company,072bf1c8af2f3a046bdfbe4e65b7343b4884c48b396194...,2221.0,0.12384
1503409,79386f3f2573,e8788c35b158,Воронежская область,Воронеж,Личные вещи,Детская одежда и обувь,Для девочек,Платья и юбки,98-104 см (2-4 года),Нвые платья,Новые платья разные в наличии!!!,480.0,145,2017-03-22,Company,b7188a3b2f7ec022758297933d20843d40bd0f8cbf6ea6...,127.0,0.12459
1503410,2bc8c895545b,f1fbfb3dc6fa,Краснодарский край,Новороссийск,Личные вещи,"Одежда, обувь, аксессуары",Женская одежда,Платья и юбки,44–46 (M),Платье женское,"Платье очень комфортное, покупала на праздник,...",3000.0,26,2017-03-22,Private,e1138cb112dd93a0fb12d84bec55177dbff3decd184002...,387.0,0.00000
1503411,43ad2ec1cd29,b1ff78e0d361,Алтайский край,Новоалтайск,Личные вещи,"Одежда, обувь, аксессуары",Женская одежда,Трикотаж,42–44 (S),Кофта,NaN,150.0,17,2017-03-26,Private,96a65b018d54fe4a59614ac2574003d879635df19c80bf...,590.0,0.00000
1503412,872691eb6232,c257da473f0b,Красноярский край,Красноярск,Хобби и отдых,Коллекционирование,Грампластинки,NaN,NaN,Винил пластинка СССР А. Кальянов Жена жена,Виниловай грампластинка. /\nСостояние конверта...,150.0,78,2017-03-21,Company,c7ca77c0fa64ccc68e7a2ec620d969c2212b206afd3cfc...,2402.0,0.00000
1503413,00b6a41d5af9,704b0a259816,Ханты-Мансийский АО,Когалым,Личные вещи,Товары для детей и игрушки,Детские коляски,NaN,NaN,Продам коляску 2в1,"Коляска в идеальном состоянии, практически не ...",8000.0,77,2017-03-16,Private,2b2cc11564c63b2dc66d2bef5b94ede8f54108521411f1...,2336.0,0.00000
1503414,72be5f7bac89,548d266baeda,Алтайский край,Бийск,Для дома и дачи,Мебель и интерьер,"Кровати, диваны и кресла",NaN,NaN,Мягкая мебель,"продам мягкую мебель-диван и 2 кресла-кровати,...",7000.0,8,2017-03-24,Private,361061e2129fe9c77b1b689e3e2071dc10e7a9c93dcee4...,1442.0,0.00000
1503415,d4bf418c598e,a45156b6ccfc,Челябинская область,Копейск,Недвижимость,Квартиры,Продам,2,Вторичка,"2-к квартира, 59 м², 5/10 эт.",Дом сдан заселен. Свидетельство о собственност...,1850000.0,6,2017-03-15,Private,85229dc0f6bb7d3735a59724d05e996a921a9e50cb6811...,2221.0,0.00000
1503416,a927b25d4daa,5db5d1e60f38,Тульская область,Тула,Личные вещи,"Одежда, обувь, аксессуары",Женская одежда,Обувь,38,"Резиновые сапоги Lucky Land, размер 36,37,38.Н...","Продам Новые резиновые сапоги Lucky Land, разм...",200.0,89,2017-03-24,Private,3c67c7fca10a8e7a0b104248b8731394fd6871ef164b0d...,494.0,0.00000
1503417,21a474db168f,28ca07eeb01a,Ставропольский край,Ставрополь,Транспорт,Автомобили,С пробегом,ВАЗ (LADA),2114 Samara,"ВАЗ 2114 Samara, 2009",Продаю по обстоятельствам. Машина в хорошем со...,160000.0,13,2017-03-27,Private,5998ed044fa7b6f99dbe66260caf3fd5bf9e211cbe9363...,2264.0,0.73760
1503418,8ab4c1e56046,97146e7aea69,Оренбургская область,Оренбург,Личные вещи,"Одежда, обувь, аксессуары",Женская одежда,Платья и юбки,48–50 (XL),"Платье фирмы zarina, размер 50","В хорошем состоянии, ткань плотная (рисунок т...",500.0,10,2017-03-17,Private,18f8dffacd5516ec8b824a2e846d8d12d75a7a964804a7...,387.0,0.12869
1503419,5e6b7f0f3f65,dd05217165ea,Пермский край,Пермь,Личные вещи,Детская одежда и обувь,Для девочек,Обувь,26,Ботиночки,NaN,300.0,7,2017-03-20,Private,2da79294c6f23f61d4bf6a8f4034f87e2f318b7e32c68b...,88.0,0.25019
1503420,d1f0910d2126,dc23ef451c8a,Краснодарский край,Краснодар,Услуги,Предложение услуг,"Ремонт, строительство",Ремонт квартиры,NaN,Натяжной потолок,"Произведем бесплатный замер, изготовим и устан...",200.0,1,2017-03-28,Private,33e13a67b441486ebe48e1459382caa620c4d1802aad1c...,1191.0,0.60000
1503421,bc04866bc803,66a7016a5995,Башкортостан,Белебей,Недвижимость,Квартиры,Продам,4,Вторичка,"4-к квартира, 83 м², 4/5 эт.","Продам квартиру с отличным ремонтом , две лодж...",NaN,50,2017-03-21,Company,2ae822ca21cff9465e430c68a1df31c5cda658cbc00eb1...,1202.0,0.39569
1503422,f782f2ad9349,2d3ac1f5a7b3,Пермский край,Березники,Личные вещи,Детская одежда и обувь,Для девочек,Обувь,27,Туфли-балетки,Продам красивые туфли в хорошем состоянии!,350.0,33,2017-03-22,Private,6b4285c22388a5dae37c3d390d3e1b174f7a980d9e3919...,87.0,0.00000
1503423,9ad3b7bff1db,f3342ccd95c8,Краснодарский край,Анапа,Личные вещи,Товары для детей и игрушки,Игрушки,NaN,NaN,Кукольные домики из берез. фанеры (большой выбор),ПРЕДЛАГАЕМ ВАШЕМУ ВНИМАНИЮ УНИКАЛЬНЫЕ ИГРУШКИ ...,1500.0,18,2017-03-21,Private,87cca5889b96b0368bffbe7cdb3f0cc5fa660f33be9fd0...,979.0,0.00000

Data cleaning
1. change region to code
2. change city to code
3. category name
4. make mean and std of price to be 0 and 1 respectively

<b>Cleaning price</b>

In [56]:
clean_price = train_set['price'].fillna(0)
clean_price = preprocessing.scale(clean_price)
clean_price.mean()

2.776620948309052e-19

In [57]:
clean_price.std()

1.0000000000000002

<b>one hot encode user_type</b>

In [58]:
train_set['user_type'].unique()

array(['Private', 'Company', 'Shop'], dtype=object)

In [63]:
userTypes = pd.get_dummies(train_set['user_type'])

<b>encode city</b>

In [90]:
print(len(cities.unique()))
cities = train_set['city'].astype('category')
codedCities = cities.cat.rename_categories(np.arange(0, len(cities.unique()))).astype('float')
cleanCities = pd.Series(preprocessing.scale(codedCities))
cleanCities.describe()
len(cleanCities.unique())

1733

1733

In [71]:
train_set[1:3]

,item_id,user_id,region,city,parent_category_name,category_name,param_1,param_2,param_3,title,description,price,item_seq_number,activation_date,user_type,image,image_top_1,deal_probability
1,2dac0150717d,39aeb48f0017,Самарская область,Самара,Для дома и дачи,Мебель и интерьер,Другое,NaN,NaN,Стойка для Одежды,"Стойка для одежды, под вешалки. С бутика.",3000.0,19,2017-03-26,Private,79c9392cc51a9c81c6eb91eceb8e552171db39d7142700...,692.0,0.00000
2,ba83aefab5dc,91e2f88dd6e3,Ростовская область,Ростов-на-Дону,Бытовая электроника,Аудио и видео,"Видео, DVD и Blu-ray плееры",NaN,NaN,Philips bluray,"В хорошем состоянии, домашний кинотеатр с blu ...",4000.0,9,2017-03-20,Private,b7f250ee3f39e1fedd77c141f273703f4a9be59db4b48a...,3032.0,0.43177

In [93]:
regions = train_set['region'].astype('category')
print(len(regions.unique()))
codedRegions = regions.cat.rename_categories(np.arange(0, len(regions.unique()))).astype('float')
cleanRegions = pd.Series(preprocessing.scale(codedRegions))
cleanRegions.describe()
print(len(cleanRegions.unique()))

28
28

In [94]:
categories = train_set['category_name'].astype('category')
print(len(categories.unique()))
codedCategories = categories.cat.rename_categories(np.arange(0, len(categories.unique()))).astype('float')
cleanCategories = pd.Series(preprocessing.scale(codedCategories))
cleanCategories.describe()
print(len(cleanCategories.unique()))

47
47

In [95]:
parentCategories = train_set['parent_category_name'].astype('category')
print(len(parentCategories.unique()))
codedParentCategories = parentCategories.cat.rename_categories(np.arange(0, len(parentCategories.unique()))).astype('float')
cleanParentCategories = pd.Series(preprocessing.scale(codedParentCategories))
cleanParentCategories.describe()
print(len(cleanParentCategories.unique()))

9
9

In [96]:
userIds = train_set['user_id'].astype('category')
print(len(userIds.unique()))
codeduserIds = userIds.cat.rename_categories(np.arange(0, len(userIds.unique()))).astype('float')
cleanuserIds = pd.Series(preprocessing.scale(codeduserIds))
cleanuserIds.describe()
print(len(cleanuserIds.unique()))

771769
771769

In [112]:
df = pd.DataFrame(cleanuserIds, columns=['userIds'])
df['region'] = cleanRegions
df['city'] = cleanCities
df['parent_category_name'] = cleanParentCategories
df['category_name'] = cleanCategories
df['price'] = clean_price
df['Company'] = userTypes['Company']
df['Private'] = userTypes['Private']
df['Shop'] = userTypes['Shop']
Y = train_set['deal_probability']
X = df
X.head()

,userIds,region,city,parent_category_name,category_name,price,Company,Private,Shop
0,1.302408,0.734012,-0.977106,0.101443,1.422787,-0.004592,0,1,0
1,-0.953026,0.466244,0.802000,-0.894372,-0.087887,-0.004552,0,1,0
2,0.242825,0.332360,0.751168,-1.890187,-1.598561,-0.004537,0,1,0
3,0.857857,1.001781,0.039526,0.101443,1.422787,-0.004564,1,0,0
4,1.509127,-1.274249,-1.279978,1.097258,-1.749629,-0.003983,0,1,0

RUn regressor

In [139]:
regressor = RandomForestRegressor(n_jobs=4,n_estimators=20)
regressor.fit(X, Y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=20, n_jobs=4,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [140]:

# userIds
userIds = test_set['user_id'].astype('category')
print(len(userIds.unique()))
codeduserIds = userIds.cat.rename_categories(np.arange(0, len(userIds.unique()))).astype('float')
cleanuserIds = pd.Series(preprocessing.scale(codeduserIds))
cleanuserIds.describe()
print(len(cleanuserIds.unique()))

# regions
regions = test_set['region'].astype('category')
print(len(regions.unique()))
codedRegions = regions.cat.rename_categories(np.arange(0, len(regions.unique()))).astype('float')
cleanRegions = pd.Series(preprocessing.scale(codedRegions))
cleanRegions.describe()
print(len(cleanRegions.unique()))

categories = test_set['category_name'].astype('category')
print(len(categories.unique()))
codedCategories = categories.cat.rename_categories(np.arange(0, len(categories.unique()))).astype('float')
cleanCategories = pd.Series(preprocessing.scale(codedCategories))
cleanCategories.describe()
print(len(cleanCategories.unique()))

parentCategories = test_set['parent_category_name'].astype('category')
print(len(parentCategories.unique()))
codedParentCategories = parentCategories.cat.rename_categories(np.arange(0, len(parentCategories.unique()))).astype('float')
cleanParentCategories = pd.Series(preprocessing.scale(codedParentCategories))
cleanParentCategories.describe()
print(len(cleanParentCategories.unique()))

clean_price = test_set['price'].fillna(0)
clean_price = preprocessing.scale(clean_price)

userTypes = pd.get_dummies(test_set['user_type'])

306069
306069
28
28
47
47
9
9

In [141]:
df = pd.DataFrame(cleanuserIds, columns=['userIds'])
df['region'] = cleanRegions
df['city'] = cleanCities
df['parent_category_name'] = cleanParentCategories
df['category_name'] = cleanCategories
df['price'] = clean_price
df['Company'] = userTypes['Company']
df['Private'] = userTypes['Private']
df['Shop'] = userTypes['Shop']
X_test = df
X_test.head()

,userIds,region,city,parent_category_name,category_name,price,Company,Private,Shop
0,1.245315,-1.286770,-0.977106,0.085303,-0.990261,-0.050567,0,1,0
1,-1.110267,0.711323,0.802000,2.032842,-1.363694,-0.049990,0,1,0
2,-1.580674,-0.221121,0.751168,-1.862236,-1.587754,-0.047682,0,1,0
3,-0.443540,0.578116,0.039526,-0.888467,-1.438381,-0.049701,0,1,0
4,-1.249306,0.045292,-1.279978,0.085303,1.399710,-0.049624,0,1,0

In [142]:
test_set.head()

,item_id,user_id,region,city,parent_category_name,category_name,param_1,param_2,param_3,title,description,price,item_seq_number,activation_date,user_type,image,image_top_1
0,6544e41a8817,dbe73ad6e4b5,Волгоградская область,Волгоград,Личные вещи,Детская одежда и обувь,Для мальчиков,Обувь,25,Отдам бесплатно,На ангарском,NaN,66,2017-04-18,Private,a8b57acb5ab304f9c331ac7a074219aed4d349d8aef386...,2020.0
1,65b9484d670f,2e11806abe57,Свердловская область,Нижняя Тура,Хобби и отдых,Велосипеды,Дорожные,NaN,NaN,Продам велосипед,"Продам велосипед KAMA F200,в нормальном состо...",3000.0,4,2017-04-16,Private,NaN,NaN
2,8bab230b2ecd,0b850bbebb10,Новосибирская область,Бердск,Бытовая электроника,Аудио и видео,Телевизоры и проекторы,NaN,NaN,BBK,Продам новый телевизор BBK 32 диагональ смарт...,15000.0,15,2017-04-17,Private,8c361112cb049745ef2d1b0ae73594fc5c107286b0c942...,2960.0
3,8e348601fefc,5f1d5c3ce0da,Саратовская область,Саратов,Для дома и дачи,Бытовая техника,Для кухни,Вытяжки,NaN,Вытяжка Jetair 60,"Продам новую вытяжку в упаковке,с документами....",4500.0,70,2017-04-17,Private,NaN,NaN
4,8bd2fe400b89,23e2d97bfc7f,Оренбургская область,Бузулук,Личные вещи,Товары для детей и игрушки,Детские коляски,NaN,NaN,Коляска зима-лето,Продам отличную коляску. б/у 1 год. все вопрос...,4900.0,15,2017-04-15,Private,bc3cf6deef10840fc302e38eb48fa7748aa1e28d534f8f...,1002.0

In [143]:
Y_test = regressor.predict(X_test)

In [144]:
df_test = pd.DataFrame(test_set['item_id'], columns=['item_id'])
df_test['deal_probability'] = Y_test
pd.Series(Y_test).describe()

count    508438.000000
mean          0.160741
std           0.128533
min           0.000000
25%           0.063641
50%           0.127400
75%           0.225384
max           0.980000
dtype: float64

In [145]:
df_test.head()

        item_id  deal_probability
0  6544e41a8817          0.100447
1  65b9484d670f          0.105077
2  8bab230b2ecd          0.206217
3  8e348601fefc          0.200967
4  8bd2fe400b89          0.232826

In [146]:
df_test.to_csv('output.csv', index_label=False, index=False)

In [147]:
test_set.head()

,item_id,user_id,region,city,parent_category_name,category_name,param_1,param_2,param_3,title,description,price,item_seq_number,activation_date,user_type,image,image_top_1
0,6544e41a8817,dbe73ad6e4b5,Волгоградская область,Волгоград,Личные вещи,Детская одежда и обувь,Для мальчиков,Обувь,25,Отдам бесплатно,На ангарском,NaN,66,2017-04-18,Private,a8b57acb5ab304f9c331ac7a074219aed4d349d8aef386...,2020.0
1,65b9484d670f,2e11806abe57,Свердловская область,Нижняя Тура,Хобби и отдых,Велосипеды,Дорожные,NaN,NaN,Продам велосипед,"Продам велосипед KAMA F200,в нормальном состо...",3000.0,4,2017-04-16,Private,NaN,NaN
2,8bab230b2ecd,0b850bbebb10,Новосибирская область,Бердск,Бытовая электроника,Аудио и видео,Телевизоры и проекторы,NaN,NaN,BBK,Продам новый телевизор BBK 32 диагональ смарт...,15000.0,15,2017-04-17,Private,8c361112cb049745ef2d1b0ae73594fc5c107286b0c942...,2960.0
3,8e348601fefc,5f1d5c3ce0da,Саратовская область,Саратов,Для дома и дачи,Бытовая техника,Для кухни,Вытяжки,NaN,Вытяжка Jetair 60,"Продам новую вытяжку в упаковке,с документами....",4500.0,70,2017-04-17,Private,NaN,NaN
4,8bd2fe400b89,23e2d97bfc7f,Оренбургская область,Бузулук,Личные вещи,Товары для детей и игрушки,Детские коляски,NaN,NaN,Коляска зима-лето,Продам отличную коляску. б/у 1 год. все вопрос...,4900.0,15,2017-04-15,Private,bc3cf6deef10840fc302e38eb48fa7748aa1e28d534f8f...,1002.0

In [148]:
df_test.describe()

       deal_probability
count     508438.000000
mean           0.160741
std            0.128533
min            0.000000
25%            0.063641
50%            0.127400
75%            0.225384
max            0.980000

<h2>Data cleaning</h2>

1. categories: userId, region, city, parent category name, category name
2. one hot encode user type
3. normalize price and other category

In [1]:
regions = train_set['region'].astype('category')
print(len(regions.unique()))
codedRegions = regions.cat.rename_categories(np.arange(0, len(regions.unique()))).astype('float')
cleanRegions = pd.Series(preprocessing.scale(codedRegions))
cleanRegions.describe()
print(len(cleanRegions.unique()))

categories = train_set['category_name'].astype('category')
print(len(categories.unique()))
codedCategories = categories.cat.rename_categories(np.arange(0, len(categories.unique()))).astype('float')
cleanCategories = pd.Series(preprocessing.scale(codedCategories))
cleanCategories.describe()
print(len(cleanCategories.unique()))

parentCategories = train_set['parent_category_name'].astype('category')
print(len(parentCategories.unique()))
codedParentCategories = parentCategories.cat.rename_categories(np.arange(0, len(parentCategories.unique()))).astype('float')
cleanParentCategories = pd.Series(preprocessing.scale(codedParentCategories))
cleanParentCategories.describe()
print(len(cleanParentCategories.unique()))

userIds = train_set['user_id'].astype('category')
print(len(userIds.unique()))
codeduserIds = userIds.cat.rename_categories(np.arange(0, len(userIds.unique()))).astype('float')
cleanuserIds = pd.Series(preprocessing.scale(codeduserIds))
cleanuserIds.describe()
print(len(cleanuserIds.unique()))

cities = train_set['city'].astype('category')
print(len(cities.unique()))
codedCities = cities.cat.rename_categories(np.arange(0, len(cities.unique()))).astype('float')
cleanCities = pd.Series(preprocessing.scale(codedCities))
cleanCities.describe()
len(cleanCities.unique())

userTypes = pd.get_dummies(train_set['user_type'])


clean_price = train_set['price'].fillna(0)
clean_price = preprocessing.scale(clean_price)
clean_price.mean()

df = pd.DataFrame(cleanuserIds, columns=['userIds'])
df['region'] = cleanRegions
df['city'] = cleanCities
df['parent_category_name'] = cleanParentCategories
df['category_name'] = cleanCategories
df['price'] = clean_price
df['Company'] = userTypes['Company']
df['Private'] = userTypes['Private']
df['Shop'] = userTypes['Shop']
Y = train_set['deal_probability']
X = df
X.head()

NameError: name 'train_set' is not defined

Data cleaning

1. categories: userId, region, city, parent category name, category name
2. one hot encode user type, parent_category_name
3. normalize only price

In [33]:
regions = train_set['region'].astype('category')
print(len(regions.unique()))
codedRegions = regions.cat.rename_categories(np.arange(0, len(regions.unique()))).astype('float')
cleanRegions = codedRegions
cleanRegions.describe()
print(len(cleanRegions.unique()))

categories = train_set['category_name'].astype('category')
print(len(categories.unique()))
codedCategories = categories.cat.rename_categories(np.arange(0, len(categories.unique()))).astype('float')
cleanCategories = codedCategories
cleanCategories.describe()
print(len(cleanCategories.unique()))

parent_category_names = pd.get_dummies(train_set['parent_category_name'])

userIds = train_set['user_id'].astype('category')
print(len(userIds.unique()))
codeduserIds = userIds.cat.rename_categories(np.arange(0, len(userIds.unique()))).astype('float')
cleanuserIds = codeduserIds
cleanuserIds.describe()
print(len(cleanuserIds.unique()))

cities = train_set['city'].astype('category')
print(len(cities.unique()))
codedCities = cities.cat.rename_categories(np.arange(0, len(cities.unique()))).astype('float')
cleanCities = codedCities
cleanCities.describe()
len(cleanCities.unique())

userTypes = pd.get_dummies(train_set['user_type'])


clean_price = train_set['price'].fillna(0)
clean_price = preprocessing.scale(clean_price)
clean_price.mean()

28
28
47
47
771769
771769
1733

2.776620948309052e-19

In [34]:
df = pd.DataFrame()
df['userIds'] = cleanuserIds
df['region'] = cleanRegions
df['city'] = cleanCities
#df['parent_category_name'] = cleanParentCategories
df['category_name'] = cleanCategories
df['price'] = clean_price
df['Company'] = userTypes['Company']
df['Private'] = userTypes['Private']
df['Shop'] = userTypes['Shop']
#df['item_seq_number'] = train_set['item_seq_number']

#Y = train_set['deal_probability']
#X = df
#X.head()

In [35]:
for cat in list(parent_category_names):
    df[cat]=parent_category_names[cat]

In [36]:
Y = train_set['deal_probability']
X = df
X.head()

,userIds,region,city,category_name,price,Company,Private,Shop,Бытовая электроника,Для бизнеса,Для дома и дачи,Животные,Личные вещи,Недвижимость,Транспорт,Услуги,Хобби и отдых
0,675853.0,19.0,460.0,42.0,-0.004592,0,1,0,0,0,0,0,1,0,0,0,0
1,173962.0,17.0,1300.0,22.0,-0.004552,0,1,0,0,0,1,0,0,0,0,0,0
2,440069.0,16.0,1276.0,2.0,-0.004537,0,1,0,1,0,0,0,0,0,0,0,0
3,576929.0,21.0,940.0,42.0,-0.004564,1,0,0,0,0,0,0,1,0,0,0,0
4,721853.0,4.0,317.0,0.0,-0.003983,0,1,0,0,0,0,0,0,0,1,0,0

In [10]:


regressor2 = RandomForestRegressor(n_jobs=10,n_estimators=10)
scores2 = cross_val_score(regressor2, X, Y, cv=5)
print(scores2.mean())
print(scores2.std())

0.05685850802720862
0.0026841214901724285

In [17]:


regressor3= RandomForestRegressor(n_jobs=10,n_estimators=10)
scores3 = cross_val_score(regressor3, X, Y, cv=5)

0.05685850802720862
0.0026841214901724285

In [18]:
print(scores3.mean())
print(scores3.std())

0.01155981055229618
0.002556555673566709

In [38]:
regions = test_set['region'].astype('category')
print(len(regions.unique()))
codedRegions = regions.cat.rename_categories(np.arange(0, len(regions.unique()))).astype('float')
cleanRegions = codedRegions
cleanRegions.describe()
print(len(cleanRegions.unique()))

categories = test_set['category_name'].astype('category')
print(len(categories.unique()))
codedCategories = categories.cat.rename_categories(np.arange(0, len(categories.unique()))).astype('float')
cleanCategories = codedCategories
cleanCategories.describe()
print(len(cleanCategories.unique()))

parent_category_names = pd.get_dummies(test_set['parent_category_name'])

userIds = test_set['user_id'].astype('category')
print(len(userIds.unique()))
codeduserIds = userIds.cat.rename_categories(np.arange(0, len(userIds.unique()))).astype('float')
cleanuserIds = codeduserIds
cleanuserIds.describe()
print(len(cleanuserIds.unique()))

cities = test_set['city'].astype('category')
print(len(cities.unique()))
codedCities = cities.cat.rename_categories(np.arange(0, len(cities.unique()))).astype('float')
cleanCities = codedCities
cleanCities.describe()
len(cleanCities.unique())

userTypes = pd.get_dummies(test_set['user_type'])


clean_price = test_set['price'].fillna(0)
clean_price = preprocessing.scale(clean_price)
clean_price.mean()

28
28
47
47
306069
306069
1644

4.016069190128566e-18

In [39]:
df = pd.DataFrame()
df['userIds'] = cleanuserIds
df['region'] = cleanRegions
df['city'] = cleanCities
#df['parent_category_name'] = cleanParentCategories
df['category_name'] = cleanCategories
df['price'] = clean_price
df['Company'] = userTypes['Company']
df['Private'] = userTypes['Private']
df['Shop'] = userTypes['Shop']
#df['item_seq_number'] = train_set['item_seq_number']

#Y = train_set['deal_probability']
#X = df
#X.head()

for cat in list(parent_category_names):
    df[cat]=parent_category_names[cat]
    
X_test = df
X_test.head()

,userIds,region,city,category_name,price,Company,Private,Shop,Бытовая электроника,Для бизнеса,Для дома и дачи,Животные,Личные вещи,Недвижимость,Транспорт,Услуги,Хобби и отдых
0,262938.0,4.0,306.0,10.0,-0.050567,0,1,0,0,0,0,0,1,0,0,0,0
1,55145.0,19.0,933.0,5.0,-0.049990,0,1,0,0,0,0,0,0,0,0,0,1
2,13649.0,12.0,147.0,2.0,-0.047682,0,1,0,1,0,0,0,0,0,0,0,0
3,113959.0,18.0,1238.0,4.0,-0.049701,0,1,0,0,0,1,0,0,0,0,0,0
4,42880.0,14.0,236.0,42.0,-0.049624,0,1,0,0,0,0,0,1,0,0,0,0

In [27]:
from sklearn.model_selection import cross_val_predict
y_pred = regressor3.predict(X)

NotFittedError: This RandomForestRegressor instance is not fitted yet. Call 'fit' with appropriate arguments before using this method.

In [55]:
X.shape

(1503424, 17)

In [56]:
train_set.shape

(1503424, 18)

In [ ]:
regressor4 = RandomForestRegressor(n_jobs=50,n_estimators=50)
regressor4.fit(X, Y)

In [ ]:
y_pred = regressor4.predict(X_test)

In [ ]:
df_test = pd.DataFrame()
df_test['item_id'] = test_set['item_id']
df_test['deal_probability'] = y_pred

In [ ]:
df_test.head()

In [49]:
df_test.describe()

       deal_probability
count     508438.000000
mean           0.161233
std            0.146316
min            0.000000
25%            0.048457
50%            0.119911
75%            0.235475
max            1.000000

In [50]:
df_test.to_csv('output2.csv', index=False, index_label=False)